[remote "origin"]
fetch = +refs/pull/*:refs/remotes/origin/pull/*
[commit]
	gpgsign = true
[user]
	name = Brian Donovan
	email = 1938+eventualbuddha@users.noreply.github.com
[merge]
	conflictstyle = diff3
