[commit]
	gpgsign = true
[user]
	name = Brian Donovan
	email = 1938+eventualbuddha@users.noreply.github.com
[alias]
	reauthor = commit --amend --no-edit --no-verify
	wip = commit --no-verify -m WIP
[merge]
	conflictstyle = diff3
